Repository pact0/vulkan, changes with the labels that .github/labeler.yml gives for each.
All labels: parts, docs, treewide, CI

Chapter 2 Compute Grid
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
  src/vk_descriptors.cpp
  src/vk_descriptors.h
  src/vk_engine.cpp
  src/vk_engine.h
  src/vk_images.cpp
  src/vk_images.h
  src/vk_pipelines.cpp
  src/vk_pipelines.h
  src/vk_types.h
Labels: treewide

added config files
  .clang-format
  .clang-tidy
  .cmake-format.yaml
  CMakePresets.json
  parts/dev-shell/default.nix
  src/CMakeLists.txt
  src/vk_types.h
Labels: parts, treewide

bump flake
  .envrc
  parts/dev-shell/default.nix
Labels: parts, treewide

Windows specific DLL copy, post-build command
  src/CMakeLists.txt
Labels: none

Supressed warnings on VMA library
  third_party/CMakeLists.txt
Labels: none

chore: format
  CMakeLists.txt
  src/camera.h
  src/main.cpp
  src/vk_descriptors.cpp
  src/vk_descriptors.h
  src/vk_engine.cpp
  src/vk_engine.h
  src/vk_images.cpp
  src/vk_images.h
  src/vk_initializers.cpp
  src/vk_initializers.h
  src/vk_pipelines.cpp
  src/vk_pipelines.h
  src/vk_types.h
Labels: treewide

enable compile commands
  CMakeLists.txt
Labels: treewide

relocated files
  CMakeLists.txt
  cmake/_FORTIFY_SOURCE.hpp
  shaders/CMakeLists.txt
  src/CMakeLists.txt
  src/vk/CMakeLists.txt
  src/vk/camera.cpp
  src/vk/camera.h
  src/vk/vk_descriptors.cpp
  src/vk/vk_descriptors.h
  src/vk/vk_engine.cpp
  src/vk/vk_engine.h
  src/vk/vk_images.cpp
  src/vk/vk_images.h
  src/vk/vk_initializers.cpp
  src/vk/vk_initializers.h
  src/vk/vk_loader.cpp
  src/vk/vk_loader.h
  src/vk/vk_pipelines.cpp
  src/vk/vk_pipelines.h
  src/vk/vk_types.h
Labels: treewide

IMGui init
  src/vk/vk_engine.cpp
  src/vk/vk_engine.h
Labels: none

.github/labeler.yml:

parts:
  - changed-files:
      - any-glob-to-any-file: parts/**/*
docs:
  - changed-files:
      - any-glob-to-any-file: docs/*
treewide:
  - changed-files:
      - any-glob-to-any-file: "*"
CI:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
